*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background: #050505;
}

.cube{
    position: relative;
    width:150px;
    height:150px;
    transform-style:preserve-3d;
    transform:rotateX(-30deg);
    animation:animate 10s linear infinite;
    display: none;
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#ee82ee);
    transform:rotateY(calc(90deg*var(--i))) translateZ(74px);
    transition:transform 2s ease-in-out;
}

.cube div span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top{
    position:absolute;
    top: 0;
    left: 0;
    width:300px;
    height:300px;
    background: #222222;
    transform:rotateX(90deg) translateZ(75px);
    transition: transform 2s ease-in-out;
}

.top img{
    position:absolute;
    top: 0;
    left: 0;
    width:150px;
    height:150px;
}

.top::before{
    content:' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height:150px;
    background: #ee82ee;
    transform: translateZ(-300px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(238,130,238,0.2),
    0 0 200px rgba(238,130,238,0.4),
    0 0 300px rgba(238,130,238,0.6),
    0 0 400px rgba(238,130,238,0.8),
    0 0 500px rgba(238,130,238,1);
}

@keyframes animate{
    0%{
        transform:rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube:hover span{
    cursor:pointer;
    transform:rotateY(calc(90deg*var(--i))) translateZ(100px);
    transition: transform 2s ease-in-out;
}

.cube:hover .top{
    transform:rotateX(90deg) translateZ(100px);
    transition: transform 2s ease-in-out;
}

p{
    position: absolute;
    top: -45px;
    font-weight: bold;
}

.loader{
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid #ffffff;
    left: 40%;
    top: 40%;
    border-radius: 50%;
    animation: spin 20s infinite linear

}
@keyframes spin{
    100%{
        transform:rotateX(360deg);
    }
}

#wish{
    position: absolute;
    color:white;
    align-items: center;
    top:1rem;
}